.best_movie {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8rem;
    margin-top: 1rem;
    color: invert($primary);
    background-color: lighten($primary, 10%);
    
    box-shadow: 0 0 16px black;
    border: 1px solid rgb(130, 130, 130);
    
    @include for-mobile {
	background-image: none;
	flex-direction: column;
	gap: 2rem;
    }
    
    &__header {
	display: flex;
	flex-direction: column;	
	justify-content: space-around;	
	align-items: center;
	gap: 2rem;
	margin: 3rem;
	width: 30%;
	
	@include for-mobile {
	    width: 100%;
	    justify-content: flex-start;
	    gap: 1rem;
	}
	
	.button {
	    max-width: 5em;
	    
	    @include for-mobile {
		width: 50%;
		text-align: center;
	    }
	}
    }

    &__title {
	font-size: 2rem;
    }

    &__description {
	text-align: justify;
	max-width: 24em;
	padding: 1em;
	
	@include for-mobile {
	    padding: 1rem;
	}
    }

    &__image {
	display: none;

	@include for-mobile {
	    margin-top: 1em;
	    display: inline-block;	    
	}
    }
}
