.button {
    $btn-color-off: invert($primary);
    $btn-color-on: darken(invert($primary), 25%);

    text-decoration: none;
    background-color: $btn-color-off;
    color: $primary;
    
    font-weight: bold;
    border-radius: 4px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    
    img {
	position: relative;
	top: 0.1em;
    }
    
    &:hover {	
	background-color: $btn-color-on;
    }
}
