
.movie_info {
    $width: 50%;
    $min-width: 500px;
    $height: 30%;
    $header-height: 2em;
    $shadow-border: 0.1em;
    $shadow-color: rgba(255, 250, 250, 0.2);
    $shadow-blur: 5px;
    
    display: inline-block;
    
    position: absolute;
    top: calc((100% - $height)/2);
    left: calc((100% - max($width, $min-width))/2);
    
    background-color: $background;
    color: white;
    
    box-shadow: - $shadow-border $shadow-border $shadow-blur  $shadow-color,
		$shadow-border $shadow-border $shadow-blur $shadow-color,
		$shadow-border calc($shadow-border * -1) $shadow-blur $shadow-color,
    		- $shadow-border calc($shadow-border * -1) $shadow-blur $shadow-color;

    width: $width;
    min-width: $min-width;
    
    @include for-mobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 0;
    }

    &__header {
	$header-font-size: calc($header-height - 0.5em);	
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $header-height;
	
	&__title {
	    width: 100%;
	    font-size: $header-font-size;
	    text-align: center;
	}
	
	&__close {
	    position: relative;
	    top: calc($header-font-size/-4);
	    display: float;
	    float: right;
	    font-size: $header-font-size;
	    
	    &:hover {
		cursor: pointer;
	    }
	}	
    }

    &__content {
	display: flex;
	align-items: center;
	gap: 1em;
	height: 100%;

	@include for-mobile {
	    flex-direction: column;
	}
	
	img {
	    width: 25%;
	    height: 25%;
	    margin: 1em;
	    
	    @include for-mobile {
		height: 50%;
	    }
	}

	table {
	    width: 75%;
	    
	    th {
		color: $secondary;
		background-color: $background;
		text-align: right;
		padding-right: 1em;
	    }

	    tr {
		$row-alpha: 0.95;
		
		padding-bottom: 0.5em;
		&:nth-child(odd) {
		    background-color: transparentize($secondary, $row-alpha);
		}
		&:nth-child(even) {
		    background-color: transparentize(complement($secondary), $row-alpha);
		}
	    }
	    
	    td {
		ul {
		    list-style: none;
		}
	    }	    
	}
    }
}
