nav {
    display: flex;
    align-items: baseline;

    @include for-mobile {
	flex-direction: column;
    }
    
    background-color: transparent;
    color: white;   

    ul {
	display: flex;
	list-style: none;
	margin-left: 1rem;
	
	@include for-mobile {
	    flex-direction: column;
	    width: 100%;
	    margin: 0;
	    padding: 0;
	}

	li {
	    padding: 1.2rem;
	    
	    @include for-mobile {
		text-align: center;
		overflow: visible;
	    }
	}
    }
    
    a {
	color: white;
	text-decoration: none;
    }

    img {
	position: relative;
	top: 0.2em;
	width: 10em;
	height: 1em;
	
	@include for-mobile {
	    padding: 1rem 0px 1rem 0px;	    
	    margin: auto;
	    text-align: center;
	    border-bottom: 1px solid rgb(64, 64, 64);
	}
    }
}
