* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

nav {
  display: flex;
  align-items: baseline;
  background-color: transparent;
  color: white;
}
@media screen and (max-width: 599px) {
  nav {
    flex-direction: column;
  }
}
nav ul {
  display: flex;
  list-style: none;
  margin-left: 1rem;
}
@media screen and (max-width: 599px) {
  nav ul {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
nav ul li {
  padding: 1.2rem;
}
@media screen and (max-width: 599px) {
  nav ul li {
    text-align: center;
    overflow: visible;
  }
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  position: relative;
  top: 0.2em;
  width: 10em;
  height: 1em;
}
@media screen and (max-width: 599px) {
  nav img {
    padding: 1rem 0px 1rem 0px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgb(64, 64, 64);
  }
}

body {
  width: 90%;
  margin: auto;
  background-color: #0c0c0c;
}

.button {
  text-decoration: none;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}
.button img {
  position: relative;
  top: 0.1em;
}
.button:hover {
  background-color: #bfbfbf;
}

.best_movie {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8rem;
  margin-top: 1rem;
  color: white;
  background-color: #1a1a1a;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("https://via.placeholder.com/256");
  box-shadow: 0 0 16px black;
  border: 1px solid rgb(130, 130, 130);
}
@media screen and (max-width: 599px) {
  .best_movie {
    background-image: none;
    flex-direction: column;
    gap: 2rem;
  }
}
.best_movie__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 3rem;
  width: 30%;
}
@media screen and (max-width: 599px) {
  .best_movie__header {
    width: 100%;
    justify-content: flex-start;
    gap: 1rem;
  }
}
.best_movie__header .button {
  max-width: 5em;
}
@media screen and (max-width: 599px) {
  .best_movie__header .button {
    width: 50%;
    text-align: center;
  }
}
.best_movie__title {
  font-size: 2rem;
}
.best_movie__description {
  text-align: justify;
  max-width: 24em;
  padding: 1em;
}
@media screen and (max-width: 599px) {
  .best_movie__description {
    padding: 1rem;
  }
}
.best_movie__image {
  display: none;
}
@media screen and (max-width: 599px) {
  .best_movie__image {
    display: inline-block;
  }
}

.category {
  margin-top: 2rem;
}
.category h2 {
  position: relative;
  color: white;
  padding: 1rem;
  margin: 0px;
  font-size: 1.2rem;
  font-weight: 100;
}
.category__articles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.category__articles img {
  width: 12rem;
  height: auto;
  border-left: 2px solid black;
}
.category__articles img:hover {
  animation-name: category-img-darken;
  animation-duration: 0.4s;
  filter: brightness(70%);
}
@keyframes category-img-darken {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(70%);
  }
}

/*# sourceMappingURL=style.css.map */
